---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { authors, type Author, type Authors, getAuthor } from "../../consts";
import MainLayout from "../../layouts/MainLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const myAuthors: Authors = authors;

---

<MainLayout>
  <section>
    <ul class="grid lg:grid-cols-2 gap-12">
      {
        posts.map((post) => (
          <li class="rounded-md shadow-md p-6 bg-gray-50">
            <a href={`/blog/${post.slug}/`} class="flex flex-col min-h-full gap-2">
              <img width={360} height={180} src={post.data.heroImage} alt="" class="max-h-[180px] object-contain bg-white"/>
              <span class={`w-full min-w-[30px] h-2 ${getAuthor(post.data.author)?.twBgColor? getAuthor(post.data.author).twBgColor : "bg-gray-500"}`}></span>
              <h4 class="flex-shrink-0 font-semibold text-lg">{post.data.title}</h4>
              <p class="flex-shrink-0 text-sm">By {post.data.author}</p>
              <p class="flex-shrink-0 text-sm">
                <FormattedDate date={post.data.pubDate} />
                </p>
                </a>
                </li>
                ))
              }
    </ul>
  </section>
</MainLayout>
