---
import MainLayout from "../layouts/MainLayout.astro";
import { allAuthors } from "../consts";
import { getAuthor } from "../consts";

const authors = allAuthors().map((a) => getAuthor(a));
---

<MainLayout title="The BioBath" description="About BioBath">
  <p>
    BioBath is a blog maintained by <a
      class="text-blue-700 underline"
      href="https://github.com/luism6n">Luís</a
    > where some of his friends can also post.
  </p>

  <p>Posts can be about anything, in any tone, and of any length.</p>

  {
    authors.map((author) => (
      <div>
        <img src={author?.avatar} alt={author?.name} />
        <h2>{author?.name}</h2>
        {author?.bio && <p>{author.bio}</p>}
        {author?.twitter && (
          <p>
            <a href={author.twitter}>Twitter</a>
          </p>
        )}
        {author?.github && (
          <p>
            <a href={author?.github}>Github</a>
          </p>
        )}
      </div>
    ))
  }
</MainLayout>
