---
import MainLayout from "../layouts/MainLayout.astro";

type AuthorInfo = {
  name: string;
  avatar: string;
  bio: string;
  social: {
    twitter: string;
    github: string;
  };
};

const authors: AuthorInfo[] = [
  {
    name: "John Doe",
    avatar: "https://avatars.githubusercontent.com/u/1234567?v=4",
    bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    social: {
      twitter: "https://twitter.com/",
      github: "https://github.com/",
    },
  },
];
---

<MainLayout title="About Me" description="Lorem ipsum dolor sit amet">
  {
    authors.map((author) => (
      <div>
        <img src={author.avatar} alt={author.name} />
        <h2>{author.name}</h2>
        <p>{author.bio}</p>
        <ul>
          <li>
            <a href={author.social.twitter}>Twitter</a>
          </li>
          <li>
            <a href={author.social.github}>Github</a>
          </li>
        </ul>
      </div>
    ))
  }
</MainLayout>
